# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Packaging / build artifacts
build/
dist/
*.egg-info/
MANIFEST

# Environments
venv/
.venv/
env/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type checker caches
.mypy_cache/
.dmypy.json
.pytype/

# IDEs
.idea/
.vscode/
